.bannerWrap {
	height: auto;
	min-height: 58px;
	transition: all .5s;
	box-shadow: inset 0 -1px 0 0 #e5e5e5;
	position: relative;
	background: #f5f5f5;
	overflow: hidden;
	padding-top: 10px;
}
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
	transform: translateZ(0);
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
._2CVsKbIX {
	text-align: center;
}
._8gPPHhHw, ._2vXfoh-O {
	font-family: inherit;
	color: #111;
}
._2vXfoh-O {
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
	display: block;
	/*vertical-align: middle;*/
}
._8gPPHhHw {
	display: inline-block;
	font-size: 12px;
	line-height: 2;
}
._8gPPHhHw, ._2vXfoh-O {
	font-family: inherit;
	color: #111;
}
._2trpWJ_I {
	text-decoration: underline;
}
._3cz-03q- {
    background-color: #fff;
}

@media (min-width: 640px){
	.css-1vtn5w7 {
		margin-top: 0px;
	}
}

.css-1gfb4pw {
    margin-top: 0px;
}

._2IK2ad9n .ncss-row {
    margin-left: 0;
    margin-right: 0;
}
.ncss-row {
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;
}

._2IK2ad9n [class*=ncss-col-] {
    padding-left: 0;
    padding-right: 0;
}
[data-container-type=local_menu] .grid-col {
    min-height: auto;
}
.sticky-inner-wrapper {
    background-color: #fff;
}

._1gSEALx7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 36px;
    padding-bottom: 24px;
    transition: padding .2s;
    flex-direction: column;
    position: relative;
	background: #fff;
}
@media only screen and (min-width: 640px){
	._1gSEALx7 {
		position: static;
	}
}
@media only screen and (min-width: 1024px)
{
	._1gSEALx7 {
		flex-direction: row;
		padding-top: 26px;
		padding-bottom: 34px;
	}
}

._1ZsY6zh2[hidden] {
    display: none;
}
@media only screen and (min-width: 640px){
	._1ZsY6zh2[hidden] {
		display: block;
		margin-left: 100px;
		margin-right: 0;
		overflow: hidden;
		height: 0;
		align-self: normal;
	}
}


._1ZsY6zh2 {
    white-space: nowrap;
    margin-right: 100px;
    min-width: 175px;
    transition: font-size .2s;
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px;
	align-self: flex-start;
	/* 2021 */
	align-self: auto;
	padding-left: 0px;
}
@media only screen and (min-width: 640px){
	._1ZsY6zh2 {
		padding-left: 0;
		align-self: inherit;
	}
}
@media only screen and (min-width: 1024px){
	.sticky-outer-wrapper.active ._1ZsY6zh2 {
		font-size: 16px;
	}
}
@media only screen and (min-width: 1024px){
	.sticky-outer-wrapper.active {
		height: 60px!important;
	}
}

._1uZt26F- {
    padding-top: 12px;
    margin-top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@media only screen and (min-width: 640px){
	._1uZt26F- {
		padding-left: 0;
		padding-top: 0;
		margin-top: 12px;
		width: auto;
		overflow: visible;
	}
}


._AKr_3ox {
    display: inline-block;
    white-space: nowrap;
    padding: 0 20px;
}
._AKr_3ox > li + li:last-child {
    margin-right: 0;
}
._AKr_3ox > li + li {
    margin-left: 16px;
}
@media only screen and (min-width: 640px){
	._AKr_3ox {
	 padding: 0;
	}
}
@media only screen and (min-width: 1024px)
{
	._AKr_3ox {
		text-align: center;
	}
}

._AKr_3ox > li {
    display: inline-block;
    margin-right: 16px;
}
@media only screen and (min-width: 640px){
	._AKr_3ox > li {
		position: relative;
	}
}

.JSftBPEZ {
    padding: 4px 0;
    transition: color .2s ease-in-out;
    font-weight: 500;
}
.JSftBPEZ:hover {
    color: #757575;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

._3l8ZuNi4 {
    position: relative;
}

._1J1k7Sv3 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
._12NrIYxy {
    background-color: #e5e5e5;
}
._2vrtOptK, ._3bTr7xkm {
    height: 500px;
}
@media only screen and (min-width: 1024px){
	._2vrtOptK {
		height: 700px;
	}
}

._1J1k7Sv3 img.guL_1FMX, ._1J1k7Sv3 video.guL_1FMX {
    opacity: 1;
}
._32IPZERI._3jm9Bm_E, ._32IPZERI._3jm9Bm_E._1DI42-I8 {
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    font-family: "object-fit:cover;object-position:50% 50%";
}
._1J1k7Sv3 img, ._1J1k7Sv3 video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit:cover", "object-fit:cover";
    transition: opacity 1s ease .3s;
    opacity: 0;
}

._3T7SP3hk {
    word-break: keep-all;
}

.vVtA7wL6 {
    margin-bottom: 4px;
}

.si35-ISy {
    margin-bottom: 8px;
}

._2svRm8bR {
    font-weight: 500;
}

.YEqpdVMc.hasText {
    margin-top: 18px;
}


._2vrtOptK, ._3bTr7xkm {
    height: 500px;
}
._12NrIYxy {
    background-color: #e5e5e5;
}

._1J1k7Sv3 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

@media only screen and (min-width: 1024px){
	._2vrtOptK {
		height: 700px;
	}
}

@media only screen and (min-width:640px){
	.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2p2-DY4s,.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2n345FhB,.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2p2-DY4s,.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2n345FhB{
	width:40%}
	.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2p2-DY4s._1s-A3PtI,.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2p2-DY4s._1s-A3PtI{
	left:60%}
}

._13xDDA0A {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    top: 24px;
    left: 24px;
    width: calc(100% - 60px);
    height: calc(100% - 48px);
}

@media only screen and (min-width: 640px){
	._13xDDA0A._1s5Pr4ak {
		justify-content: flex-start;
		top: 36px;
		height: calc(100% - 36px);
		/*position: relative;*/
	}

	._13xDDA0A._2n345FhB {
		text-align: left;
		left: 36px;
		width: 75%;
	}
	._13xDDA0A {
		top: 36px;
		height: calc(100% - 72px);
	}

	.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2p2-DY4s, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2n345FhB, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2p2-DY4s, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2n345FhB {
		width: 40%;
	}
}

@media only screen and (max-width: 640px) {
	/* Edited by Virachai */
	._13xDDA0A{position: relative;}
}

._2minRfAM {
    padding: 8px 28px;
}
.dz_xjzja {
    transition: color .5s ease-out;
    position: relative;
    z-index: 1;
    margin-left: 0;
    margin-right: 6px;
    margin-top: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.css-8fcif {
    margin-top: 84px;
}
/*@media only screen and (min-width: 0px){
	._1WKaQgke {
		display: none;
	}
}
@media only screen and (min-width: 640px){
	._1WKaQgke {
		display: block;
	}
}*/
@media (min-width: 640px){
	.css-1wf7v22 {
    	margin-top: 84px;
	}	
}

@media only screen and (min-width: 640px){
	.col-md-6 {
		width: 50%;
		display: inline-block;
	}
}


@media only screen and (min-width: 640px){
	.grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2p2-DY4s, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.image-card ._13xDDA0A._2n345FhB, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2p2-DY4s, .grid>.grid-row>.grid-col.ncss-col-lg-12.ncss-col-md-12 div>.video-card ._13xDDA0A._2n345FhB {
		width: 40%;
	}
}

/* New CSS 2021 */
img-fit-cover {
	object-fit: cover;
}

.one-img-section {
	height: 500px;
	background-color: #e5e5e5;
	margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.one-img-section img {
	opacity: 1;
	-o-object-position: 50% 50%;
    object-position: 50% 50%;
    font-family: "object-fit:cover;object-position:50% 50%";
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit:cover", "object-fit:cover";
    /*transition: opacity 1s ease .3s;
    opacity: 0;*/
}
@media only screen and (min-width: 1024px){
	.one-img-section {
		height: 700px;
	}
}

.one-img-figure.figure-caption {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    top: 24px;
    /* left: 24px; */
    width: calc(100% - 60px);
	height: calc(100% - 48px);
	width: 40vw;
	left: 46px;
	justify-content: flex-start;
    top: 36px;
    height: calc(100% - 36px);
}

.figure-caption-title {
    color: #111111;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 72px;
    line-height: 1;
    font-size: 48px;
    line-height: 1;
    font-family: "Nike Futura","Helvetica Neue",Helvetica,"Arial Bold",Arial,Tahoma,Thonburi,Ayuthaya,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.figure-caption-body-2 {
	color: #111111;
    font-size: 16px;
    line-height: 1.5;
}
@media only screen and (min-width: 1024px)
{
	.figure-caption-title { 
    	font-size: 72px;
    	line-height: 1;
	}
}

.one-img-figure.figure-caption > p > span {white-space: nowrap;}
@media only screen and (min-width: 640px){
	.one-img-section .figure-caption {
		justify-content: flex-start;
    	top: 36px;
    	height: calc(100% - 36px);
	}
}

.one-img-figure .hasText{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	color: #111;
	text-align: left;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin-top: 18px;
}
.one-img-figure.figure-caption.two-img {	
	justify-content: flex-end;
    top: calc(66.66667% - 36px);
    height: 33.33333%;
}

.one-img-figure .hasText .caption-link-shop{
	transition: color .5s ease-out;
	position: relative;
	z-index: 1;
	margin-left: 0;
	margin-right: 6px;
	margin-top: 6px;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 8px 28px;
	padding-top: 3px;
}
/*.one-img-figure .hasText .caption-link-shop-light {
    border-radius: 20px;
    background: #fff;
    color: #111;
}*/

@media only screen and (max-width: 640px){
	.one-img-figure.figure-caption {
		text-align: left;
		width: calc(100% - 48px);
		justify-content: flex-start;
		position: relative;
		top: 0;
		left: 0;
		margin-top: 24px;
		margin-bottom: 24px;
	}
	.one-img-figure.two-img {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		position: absolute;
		word-wrap: break-word;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: left;
		top: 24px;
		left: 24px;
		width: calc(100% - 60px);
		height: calc(100% - 48px);
	}
}
.headline-4 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 8px;
	color: #FFFFFF;
}


.link-shop-all {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	font: inherit;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: 0 0;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	transition: all .2s ease;
	color: #111;
	padding: 0;
	margin-left: 20px;
}

.section-product {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
}

/* sass */
/*
https://speckyboy.com/open-source-carousel-sliders-css/
$duration = 450ms
$tileWidth = 250px
$tileHeight = ($tileWidth / (16/9))
$tileHeight = 444
$iconSize = 50px
$growFactor = 1.5 // 1.5 times the original size

$moveLeft = -($tileWidth * ($growFactor - 1) / 2)
$moveRight = $tileWidth * ($growFactor - 1)
*/
.carousel-card .row {	
	/*overflow-x: scroll;
	overflow-y: none;*/
	width: 100%;
	margin: 0;
}
  
.carousel-card .row__inner {
	transition: 450ms transform;
	font-size: 0;
	white-space: nowrap;
	margin: 0 auto;/*222px 0 */
	padding-bottom: 10px;
}

.carousel-card .tile {
	position: relative;
	display: inline-block;
	width: 540px;
	height: 480px;
	margin-right: 10px;
	margin-right: 16px;
	font-size: 20px;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
	min-width: 300px;
}


.carousel-card .tile__img {
	width: 540px;
	height: 480px;
	object-fit: cover;
}


.carousel-card .tile__details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	font-size: 10px;
	opacity: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
	transition:  450ms opacity;
}
  
.carousel-card .tile__details:before {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: black;
}


.carousel-card .tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}


.carousel-card .tile__details:before {
	content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
}

.carousel-card .tile__title {
	position: absolute;
	bottom: 0;
	padding: 10px;
}


/* swiper-container */
.carousel-card .swiper-scrollbar {
    opacity: 0;
    transition: opacity .2s ease-in;
}
.carousel-card:active .swiper-scrollbar, .carousel-card:hover .swiper-scrollbar {
	opacity: 0.8;
}
.carousel-card:hover div[class^=swiper-button] {
	display: block;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar {
    width: calc(66.66% - 96px);
    margin: 30px auto 10px;
    height: 4px;
    background-color: #f5f5f5;
    display: none;
    position: relative;
    left: inherit;
    bottom: inherit;
}
.carousel-card .swiper-scrollbar {
    /*border-radius: 10px;*/
    position: relative;
    /*-ms-touch-action: none;*/
    background: rgba(0,0,0,.1);
}
@media only screen and (min-width: 1024px){
	.carousel-card .swiper-container-horizontal > .swiper-scrollbar {
		display: block;
	}
}

.carousel-card .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.carousel-card .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag {
    background: #757575;
	cursor: pointer;
	transform: translate3d(0px, 0px, 0px);
    transition-duration: 100ms;
	/*width: 750.558px;*/
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar:active {
	background-color: #e5e5e5;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag:active {
	background: #111;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar:active {
	background-color: #e5e5e5;
}
.carousel-card .swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag:active {
	background: #111;
}
.carousel-card .swiper-container-horizontal>.swiper-scrollbar .swiper-scrollbar-drag:before {
    position: absolute;
    width: 100%;
    height: 5px;
    content: "";
    top: -5px;
}
.carousel-card .swiper-container-horizontal>.swiper-scrollbar .swiper-scrollbar-drag:after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

/*
 *  STYLE 3
 */
#style-3::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.carousel-card {
	margin-left: 8px;
	margin-right: 8px;
}

.carousel-card .tile, .carousel-card .swiper-slide {
	flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    margin-right: 8px;
    width: 300px;
}
@media only screen and (min-width: 640px){
	.carousel-card .tile, .carousel-card .swiper-slide {
		margin-right: 16px;
		width: 330px;
	}
}

@media only screen and (min-width: 1024px){
	.carousel-card .tile, .carousel-card .swiper-slide {
		width: calc((100% - 144px)/3);
		max-width: 586px;
	}
}


.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	/*background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E);*/
	left: 10px;
    right: auto;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.carousel-card div[class^=swiper-button] {
    position: absolute;
    top: 0;
	padding: 48px;
	padding: 0px;
    z-index: 2;
    height: calc(100% - 50px);
    background: none;
    transition: all .2s ease-in;
    opacity: 1;
    border: 0;
    outline: none;
    color: #111;
    font-size: 26px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 0;
}
@media only screen and (min-width: 1024px){
	.carousel-card div[class^=swiper-button] {
		display: block;
	}
}
.carousel-card div[class^=swiper-button].swiper-button-disabled {
    pointer-events: all;
}
.carousel-card div[class^=swiper-button].swiper-button-prev {
    left: 0;
    padding-right: 8vw;
}
.carousel-card div[class^=swiper-button].swiper-button-next {
    right: 0;
    padding-left: 8vw;
}

._3lG9nsip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.carousel-card div[class^=swiper-button] .buttonIcon {
    font-family: nike-glyphs;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    transform: translateY(-50%);
}
.carousel-card div[class^=swiper-button].swiper-button-disabled .buttonIcon {
    background-color: hsla(0,0%,100%,.36);
}
.carousel-card div[class^=swiper-button].swiper-button-prev .buttonIcon {
	left: 84px;
	left: 28px;
}
.carousel-card div[class^=swiper-button].swiper-button-next .buttonIcon {
	right: 28px;
}
.carousel-card div[class^=swiper-button].swiper-button-disabled .buttonIcon:after {
    color: #757575;
}
.carousel-card div[class^=swiper-button].swiper-button-prev .buttonIcon:after {
    content: "\E608";
}
.carousel-card div[class^=swiper-button].swiper-button-next .buttonIcon:after {
    content: "\E609";
}

.carousel-card .swiper-container-horizontal > .swiper-scrollbar {
	overflow-y: hidden;
	overflow-x: scroll;
	height: 4px;
}

.carousel-card .swiper-container-horizontal > .swiper-scrollbar .swiper-scrollbar-drag{
	max-height: 4px;
	min-height: 4px;
	height: 4px;
	width: auto;
}

.carousel-card .swiper-container-horizontal > .swiper-scrollbar::-webkit-scrollbar
{
/*background-color: white;*/
height: 4px;
}

.carousel-card .swiper-container-horizontal > .swiper-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  .carousel-card .swiper-container-horizontal > .swiper-scrollbar::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  .carousel-card .swiper-container-horizontal > .swiper-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
  }

/*
.slide:nth-child(1) {background-image: url(http://fakeimg.pl/640x480/);}
.slide:nth-child(2) {background-image: url(http://fakeimg.pl/641x480/);}
.slide:nth-child(3) {background-image: url(http://fakeimg.pl/642x480/);}
.slide:nth-child(4) {background-image: url(http://fakeimg.pl/643x480/);}
.slide:nth-child(5) {background-image: url(http://fakeimg.pl/644x480/);} 
*/

.carousel-card .tile:last-child, .carousel-card .swiper-slide:last-child {margin-right: 0px;}

._3-GXPD9b {
    width: 100%;
    height: auto;
}
._12NrIYxy {
    background-color: #e5e5e5;
}

._1J1k7Sv3 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

._13xDDA0A._1s-A3PtI {
    text-align: left;
    width: calc(100% - 48px);
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 24px;
}
@media only screen and (min-width: 640px) {
	._13xDDA0A.o0L_Z0WU {
		text-align: center;
		left: 20%;
		width: 60%;
	}
}

._13xDDA0A {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    top: 24px;
    left: 24px;
    width: calc(100% - 60px);
    height: calc(100% - 48px);
}

@media only screen and (min-width: 640px) {
	._13xDDA0A {
		top: 36px;
		height: calc(100% - 72px);
	}
}

._3T7SP3hk {
    word-break: keep-all;
}
._2svRm8bR {
    font-weight: 500;
}
.text-color-primary-dark {
    color: #111;
}
.body-2 {
    font-size: 16px;
    line-height: 1.5;
}


.card.merchMenu {
    max-width: 920px;
    margin: 0;
}
@media only screen and (min-width: 640px) {
	.card.merchMenu {
		margin: 0 auto;
		padding: 0 20px;
	}
}

.merchMenuWrapper2021 {
    width: calc(100% - 68px);
    margin-right: 20px;
    margin-left: 20px;
}
@media only screen and (min-width: 640px){
	.merchMenuWrapper2021 {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: auto 1fr;
		grid-template-rows: auto 1fr;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}
}
.merchMenuWrapper2021 {
	grid-template-columns: 1fr repeat(3,48px 1fr);
}

.merchMenuWrapper2021 h4 {
    margin-bottom: 24px;
    max-height: 1.8em;
    transition: max-height 1s;
    -webkit-animation: _3FGhfyw3 .2s forwards;
    animation: _3FGhfyw3 .2s forwards;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
}
@media only screen and (min-width: 640px){
	.merchMenuWrapper2021 a, .merchMenuWrapper2021 h4 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-animation: _3FGhfyw3 .65s forwards;
		animation: _3FGhfyw3 .65s forwards;
		transition: all .7s;
		max-height: 1.8em;
	}
	.merchMenuWrapper2021 h4:nth-child(2) {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.merchMenuWrapper2021 label {
		pointer-events: none;
	}
}

.merchMenuWrapper2021 h4 label {
    cursor: pointer;
}

.merchMenuWrapper2021 > div {
    overflow: hidden;
    opacity: 0;
    margin-left: 24px;
}

@media only screen and (min-width: 640px){
	.merchMenuWrapper2021 > div {
		margin-left: 0;
	}
	.merchMenuWrapper2021 div, .merchMenuWrapper2021 div div {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translateZ(0);
		transition: all .5s;
	}
	.merchMenuWrapper2021 div, .merchMenuWrapper2021 div div {
		transition-property: max-height,opacity;
	}
	.merchMenuWrapper2021>div {
		max-height: inherit!important;
		margin-bottom: 0;
		opacity: 1;
	}
	.merchMenuWrapper2021 >  h4:nth-child(1) {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.merchMenuWrapper2021 > div:nth-child(2) {
		-ms-grid-column: 1;
		grid-column: 1;
		-ms-grid-row: 2;
		grid-row: 2;
	}
	.merchMenuWrapper2021 > h4:nth-child(3) {
		-ms-grid-column: 3;
		grid-column: 3;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.merchMenuWrapper2021 > div:nth-child(4) {
		-ms-grid-column: 3;
		grid-column: 3;
		-ms-grid-row: 2;
		grid-row: 2;
	}
	.merchMenuWrapper2021 > h4:nth-child(5) {
		-ms-grid-column: 5;
		grid-column: 5;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.merchMenuWrapper2021 > div:nth-child(6) {
		-ms-grid-column: 5;
		grid-column: 5;
		-ms-grid-row: 2;
		grid-row: 2;
	}
	.merchMenuWrapper2021 > h4:nth-child(7) {
		-ms-grid-column: 7;
		grid-column: 7;
		-ms-grid-row: 1;
		grid-row: 1;
	}
	.merchMenuWrapper2021 > div:nth-child(8) {
		-ms-grid-column: 7;
		grid-column: 7;
		-ms-grid-row: 2;
		grid-row: 2;
	}
	
}
.merchMenuWrapper2021>div li {
    margin-bottom: 12px;
}

.merchMenuWrapper2021>div li a {
    color: #757575;
    transition: all .3s;
    display: block;
    font-weight: 500;
    font-family: inherit;
    font-size: inherit;
}


.merchMenuWrapper2021 .grid-container {
	display: grid;
	grid-column-gap: 50px;
}

#hf_header_label_copyright{
	/*-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: inline-block;
	margin-left: 16px;
	padding-top: 20px;
	padding-bottom: 0;
	color: #7e7e7e;
	line-height: 1!important;
	font-size: 10px;*/
}